@use "../../assets/Sass/variables" as *;
@use "../../assets/Sass/mixins" as *;

.weather {
    height: 100%;
    color: $color-white;
    font-family: $font-paragraphs;


    &__title {
        font-size: 2.5rem;
        text-align: center;
        margin: 2rem auto;
        text-decoration: dashed 1px;
    }

    &__date {
        text-align: center;
        font-size: 2rem;
        font-family: $font-paragraphs;
    }

    &__forecast-container {
        width: 80%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__input-button-container{
        display: flex;
        align-items: center
    }
    &__clear-Location{
        @include roundButton($color-light-blue);
        width: 2.5rem;
        height: 2.5rem;
        margin-left: -2rem;
        font-weight: 800;
    }

    &__input-header{
        text-align: center;
        margin-top: 1rem;
    }
    &__input{
        border-radius: 10px;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border: none;
        background-color: $color-light-transparent-grey;
        color: $color-white;
    }
    &__input-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    ::placeholder{
        color: $color-white;
    }
    &__button{
        border-radius: 10px;
        padding: .5rem;
        border: none;
        width: 60%;
        color: $color-white;
        margin: .3rem auto;
        @include roundButton($color-light-blue);
        font-weight: 700;
    }
}