@use "../../assets/Sass/variables" as *;

.weather {
    height: 100%;
    color: $color-white;
    font-family: $font-paragraphs;

    &__title {
        font-size: 2.5rem;
        text-align: center;
        margin: 2rem auto;
        text-decoration: dashed 1px;
    }

    &__date {
        text-align: center;
        font-size: 2rem;
        font-family: $font-paragraphs;
    }

    &__forecast-container {
        width: 80%;
        margin: 1rem auto;
    }
}