@use "../../assets/Sass/variables" as *;

.weather-card {
  margin: 1.5rem auto;
  text-decoration: none;
  display: grid;
  height: 15rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "icon-container icon-container area area area"
    "icon-container icon-container country country country"
    "icon-container icon-container date date date"
    "description description description description description"
    "temp temp temp temp temp";
  padding: 1rem;
  color: $color-white;
  font-family: $font-paragraphs;
  background-color: $color-light-grey;
  border: solid $color-white;
  border-radius: 1.1rem;
  gap: 1rem;

  &__icon-container{
    background-color: $color-light-grey;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    grid-area: icon-container;
  }
  &__icon {
    border-radius: 20px;
  }
  &__area {
    grid-area: area;
  }
  &__country{
    grid-area: country;
  }

  &__description {
    grid-area: description;
  }
  &__temp {
    grid-area: temp;
    justify-content: flex-start;
  }
}
