@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Indie+Flower&family=Rubik:wght@300&display=swap');

$font-header: 'DynaPuff', cursive;
$font-cursive: 'Indie Flower', cursive;
$font-paragraphs: 'Rubik', sans-serif;

$color-white: #fafafa;
$color-dark-blue: #090979;
$color-light-blue: #00d4ff;
$color-light-transparent-grey: #a19a9a61;
$color-light-grey: #dddddd;